<br><br><br>
<hr>    
<div  class="bg-dark">
    <div   class="container">
    <div  class="row">
        <div style="padding: 15px;" class="col-md-4">
            <h2 style="padding: 25px;" class="text-warning"><strong>YEMEK<small style="font-size: 10px;">en iyi lezetler için</small>TEYİZ </strong></h2>
            <hr class="bg-light">
        </div>
        
        <div align="center" style="padding: 15px;" class="col-md-4">
            <span class="text-warning">TARİFLER</span><br>
            <span class="text-warning">MUTFAKLAR</span><br>
            <span class="text-warning">MALZEMELER</span><br>
            <span class="text-warning">LİSTELER</span><br>
            <hr class="bg-light">
        </div>
       
        <div align="center" style="padding: 15px;" class="col-md-4">
            <span class="text-warning"> <i class="fa fa-facebook"></i> Facebook</span><br>
            <span class="text-warning">İnstagram</span><br>
            <span class="text-warning">Twitter</span><br>
            <span class="text-warning">Youtube</span><br>
            <hr class="bg-light">
        </div>
        
    </div>

</div>

</div>